<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MouseMove.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <MouseMove.Properties.Settings>
            <setting name="Zaman" serializeAs="String">
                <value>11000</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="welcomeMsg" serializeAs="String">
                <value>Hoşgeldin Sevdicegim ❤️</value>
            </setting>
            <setting name="TabSetting" serializeAs="String">
                <value>False</value>
            </setting>
        </MouseMove.Properties.Settings>
    </userSettings>
</configuration>